

<div class="card rounded-4">
    <div class="card-body">
        <div class="d-flex align-items-start gap-3 border p-3 rounded">
            <div class="detail-icon fs-5">
                <i class="material-icons-outlined">library_add</i>
            </div>
            <div class="detail-info">
                <p class="fw-bold mb-1">Số dư chính</p>
                <a href="javascript:;" class="mb-0">0 VND</a>
            </div>
        </div>

        <br />
        <div class="d-flex align-items-start gap-3 border p-3 rounded">
            <div class="detail-icon fs-5">
                <i class="material-icons-outlined">paid</i>
            </div>

            <div class="detail-info">
                <h6 class="mb-0">Gói đang dùng</h6>
                <a href="javascript:;" class="mb-0">Free</a>
            </div>
        </div>
        <br />
        <div class="d-flex align-items-start gap-3 border p-3 rounded">
            <div class="detail-icon fs-5">
                <i class="material-icons-outlined">person</i>
            </div>

            <div class="detail-info">
                <h6 class="mb-0">Hồ sơ hiện có</h6>
                <a href="javascript:;" class="mb-0">Hồ sơ</a>
            </div>
        </div>

    </div>
</div>