@{
    ViewData["Title"] = "Home Page";
    ViewBag.pTitle = "Data Table";
}

@section styles {
    <link href="~/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
}

<h6 class="mb-0 text-uppercase">DANH SÁCH HỒ SƠ</h6>
<hr>
<div class="card">
	<div class="card-body">
		<div class="table-responsive">
			<table id="example2" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Avatar</th>
						<th>Profile ID</th>
						<th>Profile Name</th>
						<th>IP</th>
						<th>Contry</th>
						<th>Trạng thái</th>
						<th>Nhóm</th>
						<th>Hành động</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><img src="~/assets/img/avatars/10.png" alt="Avatar" class="rounded-circle p-1 border" width="60" height="60"></td>
						<td>144</td>
						<td>phanphuongvyyv669@gmail.com</td>
						<td>113.23.108.245</td>
						<td>Vietnam</td>
						<td>Live</td>
						<td>All</td>
						<td><button id="button1" onclick="buttonClicked(this.id)" class=" btn btn-success px-4 raised d-flex gap-2"><i class="material-icons-outlined">account_circle</i>Mở</button></td>
					</tr>
					<tr>
						<td><img src="/img/avatars/10.png" alt="Avatar" class="rounded-circle"></td>
						<td>Garrett Winters</td>
						<td>Accountant</td>
						<td>Tokyo</td>
						<td>63</td>
						<td>2011/07/25</td>
						<td>$170,750</td>
						<td><button id="button2" onclick="buttonClicked(this.id)" class=" btn btn-success px-4 raised d-flex gap-2"><i class="material-icons-outlined">account_circle</i>Mở</button></td>
					</tr>
					
					<tr>
						<td><img src="/img/avatars/10.png" alt="Avatar" class="rounded-circle"></td>
						<td>Jonas Alexander</td>
						<td>Developer</td>
						<td>San Francisco</td>
						<td>30</td>
						<td>2010/07/14</td>
						<td>$86,500</td>
						<td><button id="button3" onclick="buttonClicked(this.id)" class=" btn btn-success px-4 raised d-flex gap-2"><i class="material-icons-outlined">account_circle</i>Mở</button></td>
					</tr>
					<tr>
						<td><img src="/img/avatars/10.png" alt="Avatar" class="rounded-circle"></td>
						<td>Shad Decker</td>
						<td>Regional Director</td>
						<td>Edinburgh</td>
						<td>51</td>
						<td>2008/11/13</td>
						<td>$183,000</td>
						<td><button id="button4" onclick="buttonClicked(this.id)" class=" btn btn-success px-4 raised d-flex gap-2"><i class="material-icons-outlined">account_circle</i>Mở</button></td>
					</tr>
					
				</tbody>
				<tfoot>
					<tr>
						<th>Avatar</th>
						<th>Profile ID</th>
						<th>Profile Name</th>
						<th>IP</th>
						<th>Contry</th>
						<th>Trạng thái</th>
						<th>Nhóm</th>
						<th>Hành động</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>

@section scripts {
	<script src="~/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
	<script src="~/assets/plugins/metismenu/metisMenu.min.js"></script>
	<script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
	<script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#example').DataTable();
		});
	</script>
	<script>
		$(document).ready(function () {
			var table = $('#example2').DataTable({
				lengthChange: false,
				buttons: ['copy', 'excel', 'pdf', 'print']
			});

			table.buttons().container()
				.appendTo('#example2_wrapper .col-md-6:eq(0)');
		});
	</script>


<!-- Additional Buttons -->
    <button id="checkAllButton" onclick="checkAll()">Check All</button>
	<button id="uncheckAllButton" onclick="uncheckAll()">UnCheck All</button>
    <button id="buttonAll" onclick="buttonAllClicked()">Button All</button>

    <script>
        function checkAll() {
            document.getElementById('checkbox1').checked = true;
            document.getElementById('checkbox2').checked = true;
            document.getElementById('checkbox3').checked = true;

        }
		function uncheckAll() {
            document.getElementById('checkbox1').checked = false;
            document.getElementById('checkbox2').checked = false;
            document.getElementById('checkbox3').checked = false;

        }

        function buttonClicked(buttonId) {
            console.log(buttonId);
            window.chrome.webview.postMessage(buttonId);
        }

        function checkAllCheckboxes() {
            return document.getElementById('checkbox1').checked &&
                   document.getElementById('checkbox2').checked &&
                   document.getElementById('checkbox3').checked;
        }



        function buttonAllClicked() {
            if (document.getElementById('checkbox1').checked) {
                buttonClicked('button1');
            }
            if (document.getElementById('checkbox2').checked) {
                buttonClicked('button2');
            }
            if (document.getElementById('checkbox3').checked) {
                buttonClicked('button3');
            }
        }
    </script>

}